/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    color: white;
    font-family: sans-serif;
}

/* Utilities */

.container{
    width: 1200px;
    margin: 0 auto;
}

.button{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-weight: 700;
}

.d-flex{
    display: flex;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: #255EE9;
}

.bg-grey{
    background-color: #F6F6F6;
}

/* Header */

nav{
    height: 70px;
    align-items: center;
}

nav > img{
    height: 40px;
}

nav > .logo, .login{
    width: 20%;
}

.main-menu{
    width: 60%;
}

.main-menu ul{
    justify-content: center;
    list-style-type: none;
}

.main-menu li{
    margin: 0 20px;
}

.main-menu a{
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.login{
    text-align: right;
}

.login button{
    padding: 10px 15px;
}

.jumbotron-row{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    width: 800px;
    text-align: center;
}

.jumbotron h1{
    font-size: 58px;
    margin-bottom: 50px;
}

.jumbotron p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 2rem;
}

.jumbotron button{
    font-size: 1.3rem;
    padding: 15px 30px;
}

.download-button > *{
    vertical-align: middle;
}

.open-button {
    background-color: #23272A;
    color: white;
}

.fa-solid.fa-down-long{
    margin-right: 10px;
    font-size: 1rem;
}

/* Main */

main section{
    padding: 100px 0;
    display: flex;
}

.section-row{
    height: 600px;
}

.image{
    width: 70%;
}

.text{
    background-color: yellow;
    width: 30%;
}

.section-column{
    flex-direction: column;
}

.section-column div{
    height: 300px;
    width: 100%;
    background-color: blue;
}

/* Footer */

footer{
    background-color: #23272A;
    padding: 50px 0;
}

div.first-section-footer{
    height: 450px;
    padding-bottom: 30px;
    border-bottom: 1px solid yellowgreen;
}

.second-section-footer{
    justify-content: space-between;
    padding-top: 30px;
    height: 100px;
}

.intestazione-footer{
    width: calc(100% / 3);
    background-color: aquamarine;
}

.menu-footer{
    width: calc(100% / 3 * 2);
    background-color: yellowgreen;
}

.menu-footer section{
    width: 25%;
    border: 1px solid yellow;
}

.registrati{
    width: 15%;
    background-color: black;
}